/*
* {
  margin: 0;
  padding: 0;
}
*/

html,
body {
    overflow: hidden;
    
}
.main{
margin-left:auto;margin-right:auto;margin-top:150px;
position:relative; 
text-align:center;
z-index:999;
}
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    animation: mymove 5s ease;
    animation-fill-mode: forwards
}

@keyframes mymove {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}
a {
    color: #ff822d;
    text-decoration:none;
}
    a :hover {
    color:red;
    }

    #Dialog_1 {
        visibility: hidden;
        width: auto;
        height: auto;
    }
@keyframes fadenum {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
